:root {
    --light-1: lightgray;
    --dark-1: #222;
    --link-color: white;
    --link-hover-color: #ccc;
    --unit: 1px;
    --font-family: Courier;
    --font-step: 10;
    --font-s: calc((10 + var(--font-step)) * var(--unit));
    --font-m: calc((15 + var(--font-step)) * var(--unit));
    --font-l: calc((20 + var(--font-step)) * var(--unit));
    --font-xl: calc((25 + var(--font-step)) * var(--unit));
    --roundness: 20px;
}

body, html {
    margin: 0;
    padding: 0;
    /* background-color: cornsilk; */
    background-color: var(--light-1);
    font-family: var(--font-family);
}

a {
    color: var(--link-color);
    font-size: var(--font-m);
    text-decoration: none;
}

/* a:hover {
    color: var(--link-hover-color);
} */

.main {
    position: relative;
    width: 75%;
    max-width: 1080px;
    margin: 10px auto 0px auto;
    box-sizing: border-box;
}

.summary {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #000;
}

.summary > a{
    color: var(--dark-1) !important;
    box-sizing: border-box;
    /* box-shadow: 0px 5px 0px -2px var(--dark-1);
    transition: all 1s ease; */
};


.title {
    box-sizing: border-box;
    margin-bottom: 0;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
}

.item {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    border-radius: var(--roundness);
    box-shadow: 0 0 7px -3px #222;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link {
    position: absolute;
    text-decoration: none;
}

.name {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0%;
    transition: all 500ms ease;
}

.item:hover .name {
    visibility: visible;
    opacity: 100%;
}

.item > img {
    position: relative;
    /* width: 100%; */
    /* height: auto; */
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.item:first-child {
    background-color: blueviolet;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.footer {
    box-sizing: border-box;
    text-align: right;
    padding-top: 10px;
    border-top: 2px solid #000;
}


@media (max-width: 640px) {
    .main {
        width: 90%;
    }

    .projects {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 5px;
    }
}
